# Build
*.exe
*.dll
*.so
*.dylib
*.a
*.ilk
*.pdb
*.lib
*.exp
*.res
*.out
*.o
*.def
*.obj
webinix/

# IDE
.idea/
.vscode/
.vs/
Debug/
Release/

# Python
__pycache__/
dist/
webinix2.egg-info/

# Rust
target/
*.lock

# Broken NTFS
nul